@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All Products List</h1>
    <p class="lead">[List the products here: Name, Description].</p>
    <p><a href="#" class="btn btn-primary btn-lg">More details &raquo;</a></p>
</div>